<%= link_to 'Back', pins_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading center">
      <%= image_tag @pin.image.url(:medium) %>
    </div>
    <div class="panel-body">
    <p><%= @pin.description %></p>
    <p><strong><%= @pin.user.name if @pin.user %></strong></p>
    <% if @pin.user == current_user %>
      <%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
    <% end %>
    <%if !current_user.nil?%>
      <%if clicks_of_day %>
        <%if clicks %>
          <%= render :partial => "users/social_plugin" %>
        <%else%>  
          <div style="padding: 15px;"> 
            You can not like/tweet/click on the site of the post today :(
          </div>
        <%end%>
      <%else%>
        <%= render :partial => "users/social_plugin" %>      
      <%end%>   
    <%end%>  
    </div>
  </div>

</div>



